@import "tailwindcss";

:root {
  --pastel-background: #fffdfb;
  --pastel-surface: #fff8f3;
  --pastel-card-background: #fff7f2;
  --pastel-card-border: #fbc6b4;
  --pastel-card-primary-text: #4c2e25;
  --pastel-card-secondary-text: #2f3e56;
}

@keyframes duowave {
  0%,
  100% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
}

.animate-duowave {
  animation: duowave 1s ease-in-out infinite;
}

@theme inline {
  --color-pastel-background: var(--pastel-background);
  --color-pastel-surface: var(--pastel-surface);
  --color-pastel-card-backgound: var(--pastel-card-background);
  --color-pastel-card-border: var(--pastel-card-border);
  --color-pastel-card-primary-text: var(--pastel-card-primary-text);
  --color-pastel-card-secondary-text: var(--pastel-card-secondary-text);
  --font-fredoka: var(--font-fredoka);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--pastel-background);
  font-family: "Fredoka", sans-serif;
}
